
body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#container{
    width: 200px;
    height: 200px;
    border:20px solid black;
     border-top:20px solid red;
    border-radius: 50%;
    animation: loader 0.5s steps(5) infinite normal;
}


@keyframes loader {
    from {
            transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}